extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Name.
        h1 Rodolfo Del Rio

        //- Title
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My main area of expertise is on the front-end of web development. My tools are: HTML, CSS, SASS, JavaScript, libraries such as JQuery and Chart.js

          p Often I work on building Web Apps, coding layouts, and on digital marketing products such as lead generators and affiliate marketing

          p Also I enjoy participating in hackathons and working with friends with personal projects
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li Node.js
          li Express
          li Pug
          li NPM
          li Git
          li JQuery
          li AJAX/Fetch
          li SASS
          li SVG
          li CSS
          li HTML
        h6 Contact Info

        //- Contact info
        ul
          li +372 56705363
          li rodolfo.perezhz@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href="https://www.linkedin.com/in/rodolfo-perez-0451a6b3/") LinkedIn
        a.button.expanded(href="https://github.com/rrorrolfo") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  